<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">Eventos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav justify-content-end">
        <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-light" th:href="@{/login}">Iniciar Sesión</a></li>
        <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-light" th:href="@{/registro}">Registrarse</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link text-light" th:href="@{/logout}">Cerrar Sesión</a></li>
    </ul>
</nav>

<div class='container mt-4'>
    <div class='row'>
        <div class="col-md-6">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Datos del Evento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p th:text="${evento.nombre}">Nombre</p>
                            <p th:text="${evento.descripcion}">Descripción</p>
                            <p th:text="${evento.direccion}">Dirección</p>
                            <p th:text="${evento.fechaInicio}">Fecha de Inicio</p>
                            <p th:text="${evento.aforoMaximo}">Aforo Máximo</p>
                            <p th:text="${evento.minimoAsistencia}">Mínimo de Asistencia</p>
                            <p th:text="${evento.precio * 2}">Precio</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <h4>Quedan</h4>
                    </div>
                    <div class="col-2">
                        <h5 th:text="${evento.aforoMaximo}"></h5>
                    </div>
                </div>
            </div>
            <br/>

            <form action="@{/reservar}" th:object="${reserva}" method="post">
                <div class='col-4'>
                    <label for="cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="cantidad" th:field="*{cantidad}" />
                </div>
                <div class='col-3'>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-outline-primary">Reservar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>